@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] bg-white rounded-full uppercase text-sm tracking-widest text-black transition-all hover:border-[#f7ab0a]/40 hover:text-[#f7ab0a]/40;
  }

  .contactInput {
    @apply outline-none rounded-sm border-b px-6 py-4 border-[#242424] text-black transition-all focus:border-[#F7AB0A]/40 focus:text-[#f7ab0a]/40
    hover:border-[#f7ab0a]/40;
  }

  .constrained-image {
    max-width: 100%;
    max-height: 100vh; /* adjust this to your needs */
    object-fit: contain; /* can be replaced with 'cover' if you want the image to fill the container */
  }  

}
